/* BODY */
body header {
    margin: 0px 40px 0px 40px;
}

body main {
    margin: 0px 100px 0px 100px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
}
/* Navegador */
.categorias-sexo {
    display: flex;
    align-items: flex-start;
}

.categoria-mujer {
    display: inline-block;
    position: relative;
}

.opciones-dropdown-mujer div {
    margin-bottom: 3px;
}

.opciones-dropdown-hombre div {
    margin-bottom: 3px;
}

/* Dropdown ropa de mujer */
.categoria-mujer-dropdown {
    background-color: white;
    border: none;
}

.opciones-dropdown-mujer {
    width: 150px;
    display: none;
    position: absolute;
    z-index: 1;
}

.categoria-mujer:hover .opciones-dropdown-mujer {
    display: block;
}

/* Dropdown ropa de hombre */
.categoria-hombre {
    display: inline-block;
    position: relative;
}

.categoria-hombre-dropdown {
    background-color: white;
    border: none;
}

.opciones-dropdown-hombre {
    width: 150px;
    display: none;
    position: absolute;
    z-index: 1;
}

.categoria-hombre:hover .opciones-dropdown-hombre {
    display: block;
}

/* Estilo de los enlaces */
a.enlace-categorias {
    font-size: 14px;
}

a.decoration-black:link {
    text-decoration: none;
    color: black;
}

a.promociones-color:link {
    text-decoration: none;
    color: orange;
}

a.decoration-black:hover {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

a.promociones-color:hover {
    text-decoration: none;
    font-size: 16px;
    color: orange;
}

a.decoration-black:active {
    text-decoration: none;
    color: black;
}

a.promociones-color:active {
    text-decoration: none;
    color: orange;
}

a.decoration-black:visited {
    text-decoration: none;
    color: black;
}

a.promociones-color:visited {
    text-decoration: none;
    color: orange;
}

/* Nombre de la tienda y logo */

div.nombre-tienda a:link {
    text-decoration: none;
    color: black;
}

div.nombre-tienda a:hover {
    text-decoration: none;
    color: black;
}

div.nombre-tienda a:active {
    text-decoration: none;
    color: black;
}

div.nombre-tienda a:visited {
    text-decoration: none;
    color: black;
}
.nombre-tienda h1 {
    font-size: 30px;
}

.nombre-tienda {
    display: flex;
    padding-left: 20px;
}

.logo-tienda {
    width: 30px;
    padding-right: 15px;
}

/* Buscador, login y carrito */
.buscador-login-carrito {
    display: flex;
}

/* Buscador */
.buscador-logo {
    width: 15px;
}

input.buscador-box {
    width: 100px;
}

.buscador-box {
    border: none;
    border-bottom: 2px solid black;
}

/* Login */
.login-logo {
    width: 15px;
    padding-left: 10px;
}

/* Carrito */
.carrito-logo {
    width: 17px;
    padding-left: 10px;
}

/* Main de la página */
/* Filtros y ordenar por */
.order-filtro {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.order-by {
    order: 1;
    padding-right: 7px;
    margin-right: 7px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

a.enlace-order-filtro {
    font-size: 10px;
}

a.enlace-order-filtro:link {
    text-decoration: none;
    color: black;
}

a.enlace-order-filtro:hover {
    text-decoration: none;
    color: black;
}

a.enlace-order-filtro:active {
    text-decoration: none;
    color: black;
}

a.enlace-order-filtro:visited {
    text-decoration: none;
    color: black;
}

/* Sección de fotos */
.fotos-ropa {
    display: flex;
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
    /* justify-content: center; */
}

.ropa {
    width: 300px;
    height: 450px;
    margin: 0px 10px 20px 10px;
}

/* Sección cargar más */
.ver-mas {
    text-align: center;
    margin-top: 50px;
}

/* Sección de descuentos */
.descuento-formulario {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 100px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}

.descuento {
    display: inline-block;
}

.parrafo-descuento {
    font-size: 25px;
}

.formulario {
    display: inline-block;
}

.email-formulario {
    border: none;
    text-decoration: none;
    border-bottom: 1px solid black;
    width: 500px;
}

.email-text-formulario {
    font-size: 14px;
}

.ver-mas-enlace {
    display: inline-block;
    border: 1px solid black;
    width: 150px;
    font-size: 16px;
}

.ver-mas a:link {
    text-decoration: none;
    color: black;
}

.ver-mas a:hover {
    color: black;
}

.ver-mas-enlace:hover {

    background-color: rgba(128, 128, 128, 0.2);
}

.ver-mas a:active {
    text-decoration: none;
    color: black;
}

.ver-mas a:visited {
    text-decoration: none;
    color: black;
}

/* Sección de contacto */
.seccion-contactos {
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding-bottom: 30px;
}

.contacto {
    font-size: 16px;
}

.telefono-venta-tiendas {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.venta {
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.venta a:link {
    text-decoration: none;
    color: black;
}

.venta a:hover {
    text-decoration: none;
    color: black;
}

.venta a:visited {
    text-decoration: none;
    color: black;
}

.venta a:active {
    text-decoration: none;
    color: black;
}

.tiendas a:link {
    text-decoration: none;
    color: black;
}

.tiendas a:hover {
    text-decoration: none;
    color: black;
}

.tiendas a:visited {
    text-decoration: none;
    color: black;
}

.tiendas a:active {
    text-decoration: none;
    color: black;
}

.horarios {
    font-size: 12px;
}

/* Footer */
footer {
    margin: 0px 40px 0px 40px;
}

/* Tabla de info del footer */
.footer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-info th {
    font-size: 14px;
    padding-bottom: 15px;
    text-align: left;
}

.footer-info td {
    font-size: 12px;
    padding-bottom: 5px;
}

/* Enlaces en el footer */
td a:link {
    text-decoration: none;
    color: black;
}

td a:hover {
    text-decoration: underline;
    color: black;
}

td a:active {
    text-decoration: none;
    color: black;
}

td a:visited {
    text-decoration: none;
    color: black;
}